In [1]:
color = ["red","black","green"]
color
color.append("green")

In [2]:
color.append("green")
color

['red', 'black', 'green', 'green', 'green']

In [3]:
color.extend(["yellow","orange" ])
color

['red', 'black', 'green', 'green', 'green', 'yellow', 'orange']

In [4]:
color.extend("yellow")
color

['red',
 'black',
 'green',
 'green',
 'green',
 'yellow',
 'orange',
 'y',
 'e',
 'l',
 'l',
 'o',
 'w']

In [5]:
popping=color.pop(3)
print(popping)
print(color)

green
['red', 'black', 'green', 'green', 'yellow', 'orange', 'y', 'e', 'l', 'l', 'o', 'w']

In [6]:
color.remove("green")
print(color)

['red', 'black', 'green', 'yellow', 'orange', 'y', 'e', 'l', 'l', 'o', 'w']

In [7]:
del color[5]
color

['red', 'black', 'green', 'yellow', 'orange', 'e', 'l', 'l', 'o', 'w']

In [8]:
color.sort(reverse=True)
print(color)

['yellow', 'w', 'red', 'orange', 'o', 'l', 'l', 'green', 'e', 'black']

In [9]:
col=color.copy()
print(col)

['yellow', 'w', 'red', 'orange', 'o', 'l', 'l', 'green', 'e', 'black']

In [10]:
col.clear()
print(col,color)

[] ['yellow', 'w', 'red', 'orange', 'o', 'l', 'l', 'green', 'e', 'black']

In [11]:
del col 
print(col)

NameError: name 'col' is not defined

In [ ]:
std_info={"name":["hitesh","aman","sanjay"],"usn":[23,2,47],"age":[21,24,22]}

In [ ]:
std_info

{'name': ['hitesh', 'aman', 'sanjay'], 'usn': [23, 2, 47], 'age': [21, 24, 22]}

In [ ]:
std_info["class"]="aids"

In [ ]:
std_info

{'name': ['hitesh', 'aman', 'sanjay'],
 'usn': [23, 2, 47],
 'age': [21, 24, 22],
 'class': 'aids'}

In [ ]:
dict1={"sub":["kannada","english"],"sec":"A"}

In [ ]:
std_info.update(dict1 )

In [ ]:
std_info

{'name': ['hitesh', 'aman', 'sanjay'],
 'usn': [23, 2, 47],
 'age': [21, 24, 22],
 'class': 'aids',
 'sub': ['kannada', 'english'],
 'sec': 'A'}

In [ ]:
set1={1,2,2,3,3,4,4,4,5,6,7,8,3.,2,5,3,2,7,8,9,0}
set1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set1.add(10)

In [ ]:
set1.update([10,11,12])

In [ ]:
set1

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [ ]:
set1.pop()

0

In [ ]:
set1.pop()

2

In [ ]:
set1.discard(14)

In [ ]:
set1.discard(12)

In [ ]:
set1

{3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
set2={1,2,3,4,5}
set3={3,4,5,6,7}
union=set2|set3 
unioin1=set2.union(set3)
intersection=set2.intersection(set3)
difference=set2.difference(set3)
print("union;",unioin1)
print("union;",union)
print("intersection;",intersection)
print("difference;",difference)

union; {1, 2, 3, 4, 5, 6, 7}
union; {1, 2, 3, 4, 5, 6, 7}
intersection; {3, 4, 5}
difference; {1, 2}

In [ ]:
text="python is powerful, python is versatile, python is fun"
text=text.lower()
text=text.split(" ")
print(text)

['python', 'is', 'powerful,', 'python', 'is', 'versatile,', 'python', 'is', 'fun']

In [ ]:
text=set(text)
text

{'fun', 'is', 'powerful,', 'python', 'versatile,'}

In [ ]:
x=[2,3]
y=[2,3]
z=x
print(x is y)
print(x is z)
print(x==y)
print("x",id(x))
print("y",id(y))
print("z",id(z))

False
True
True
x 1320833794560
y 1320833806336
z 1320833794560

In [ ]:
x=int(input("enter ur Age"))
if x>18:
     print("u r eligeble to vote")
else:
     print (" you are not eligible to vote you have to wait",18-x,"years to vote")
     #print ("you have to wait",18-x,"years to vote")

enter ur Age 10

 you are not eligible to vote you have to wait 8 years to vote

In [ ]:
x=int(input("enter a number"))
if (x%2==0):
  print ("it is even")
else :
  print ("it is odd")

enter a number 5

it is odd

In [ ]:
x=int( input("enter the 1st number "))
y=int( input("enter the 2nd number "))
z=str( input("enter the operator u want to perform operation"))
if(z=="+"):
  print(x+y)
elif(z=="-"):
  print(x-y)
elif(z=="/" and y==0):
  print("Division by zero error")
elif(z=="/"):
  print(x/y)
elif(z=="%"):
  print(x%y)
elif(z=="*"):
  print(x*y)
else:
    print("Invalid operator")

In [ ]:
year =int(input("enter the year :"))
if (year%4==0 & year%100!=0)or year%400==0:
    print("it's a leap year")
else:
    print("it's not a leap year")

enter the year : 2000

it's not a leap year

In [ ]:
a=int(input("enter the 1st number"))
b=int(input("enter the 2nd number"))
if (a>b):
    print (a," is greater")
elif a==b :
    print("boteh are same numbers")
else :
    print(b,"is greater")

enter the 1st number 25
enter the 2nd number 45

45 is greater

In [ ]:
a=str(input("enter a character"))
a= a.lower()
if (a in ["a","e","i","o","u"]):
    print("it is a vowel")
else :
    print("it is a consonant")

enter a character s

it is a consonant

In [ ]:
a=(input("enter 3 digit number"))
if len(a)%2 != 0:
  middle=len(a)//2
  print("middle number is ",a[middle]) 
else :
    print("there exists 2 middle numbers so please try to give odd numbers ")

enter 3 digit number 123

middle number is  2

In [ ]:
a=int(input("enter 3 digit number"))
b= a // 10
b=str(b)
b=b[::-1]
b=int(b)
c= b // 10
print(c)

enter 3 digit number 345

4

In [ ]:
b=str(b)
b=b[::-1]
b=int(b)
c= b // 10
print(c)

In [ ]:
n=int(input("enter the number of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
         print(j,end="")
    print()

enter the number of rows: 4

1
12
123
1234

In [ ]:
n=int(input("enter the number of rows:"))
for i in range(1,n+1):
    print("*"*n)

enter the number of rows: 4

****
****
****
****

In [ ]:
n=int(input("enter the number of rows"))
for i in range (1,n+1):
    for j in range (1,i+1):
        print("*",end=" ")
    print(n*" ")

enter the number of rows 4

*
* *
* * *
* * * *

In [ ]:
n=8
for i in range(0,n):
    print(" "*(n-i)+"* " * i)
for i in range(n,0,-1):
    print(" "*(n-i)+"* " * i)

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [ ]:
n=8
for i in range(n,0,-1):
    print(" "*(n-i)+"* " * i)

* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [ ]:
for i in range(6,1,-1):
    print(i)

6
5
4
3
2

In [ ]:
#n=int(input("enter the number of rows"))
n=5
for i in range(0,n+1):
    print(" "*(n-i)+"* "*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=int(input("enter the number of rows:"))
for i in range(1,n+1):
    print("\n"+" "*(n-i),end=" ")
    for j in range(1,i+1):
         print(j,end=" ")
#print(" ")

enter the number of rows: 5

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [ ]:
i=1
while i<=1:
    j=1
    while j<=4:
        print(j**2,end=" ")
        j+=1
    i+=1

1 4 9 16

In [ ]:
f = range(20)
for i in f:
    
    if i==10:
        continue 
    print(i)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

In [ ]:
j=range(50)
t= list()
for i in j:
    if i%2!=0:
        continue
    t.append(i)
print(t)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
n=int(input("enter u  rank"))
rank="A+" if n>90 else "A" if n>80 else "B" if n>70 else "B+" if n>70 else "c+"
print(rank)

enter u  rank 78

B

In [ ]:
a=[[1,2,3],[4,5,6],[7,8,9]]
#a=list(a)
l=[]
prod=1
for i in a:
    for j in i:
        prod*=j
    l.append(prod) 
print(l)

[6, 720, 362880]

In [ ]:
total=0
count=1
while total<10:
    total+=count
    count+=1
print(count)
print(total)

5
10

In [ ]:
s=0
while s<11:
    if s%2==0:
        print(s)
        s+=1
    else:
        None
        s+=1

0
2
4
6
8
10

In [ ]:
h = range (100)
l=list()
for i in h:
    if i%2==0:
        l.append(i)
    if i==50:
        break

print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
even=[i if i%2==0 else "" for i in range(20)]
print(even)

[0, '', 2, '', 4, '', 6, '', 8, '', 10, '', 12, '', 14, '', 16, '', 18, '']

In [ ]:
div3=[i for i in range(20,60) if i%3==0]
div3

[21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

In [ ]:
div_3_5=[f"{i} is divisible by 3 & 5" if (i%3==0 and i%5==0) else f"{i} is divisible by 3" if i%3==0 else f"{i} is divisible by 5" if i%5==0 else f"{i} is not divisible by 3 & 5" for i in range(1,20,2)]
print(div_3_5)

['1 is not divisible by 3 & 5', '3 is divisible by 3', '5 is divisible by 5', '7 is not divisible by 3 & 5', '9 is divisible by 3', '11 is not divisible by 3 & 5', '13 is not divisible by 3 & 5', '15 is divisible by 3 & 5', '17 is not divisible by 3 & 5', '19 is not divisible by 3 & 5']

In [ ]:
for i in range (1,6):
    print("*"*i)
    if i==5:
        for i in range(4,0,-1):
            print("*"*i)

*
**
***
****
*****
****
***
**
*

In [40]:
str="Niranjan"
x=0
for i in str:
    x+=1
    print(str[0:x])
for i in str:
    x-=1
    print(str[0:x])

N
Ni
Nir
Nira
Niran
Niranj
Niranja
Niranjan
Niranja
Niranj
Niran
Nira
Nir
Ni
N

In [ ]:
square = [num**2 for num in range(1,20)]
print(square,end=" ")

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [22]:
planets=["Mercury","Venus","Earth","Mars","Jupiter","Satron","Urenus","Neptune"]
initial_alpha=tuple(i[0] for i in planets)
print(initial_alpha)

('M', 'V', 'E', 'M', 'J', 'S', 'U', 'N')

In [25]:
initial_with_key={i:i[0] for i in planets}
print(initial_with_key,end=" ")

{'Mercury': 'M', 'Venus': 'V', 'Earth': 'E', 'Mars': 'M', 'Jupiter': 'J', 'Satron': 'S', 'Urenus': 'U', 'Neptune': 'N'}

In [27]:
key=["one","two","three","four","five"]
val=[1,2,3,4,5]
my_dir={k:v for k,v in zip(key,val)}
my_dir

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [41]:
str="akcowimcoeincisjkancoasdcnj"
upper_c={i:i.upper() for i in str}
print(upper_c,end=" ")

{'a': 'A', 'k': 'K', 'c': 'C', 'o': 'O', 'w': 'W', 'i': 'I', 'm': 'M', 'e': 'E', 'n': 'N', 's': 'S', 'j': 'J', 'd': 'D'}

In [42]:
k=tuple(i**2 for i in range(5,11))
print(k)

(25, 36, 49, 64, 81, 100)

In [45]:
for i in range(1,101):
    i=str(i)
    print(i,end=" ")
    if i.endswith ('0'):
        print("\n")

TypeError: 'str' object is not callable

In [3]:
a=6
import sys 
b = sys.getsizeof(a)
b

28

In [5]:
def sum(*n):
    total=0
    for n2 in n:
        total+=n2
        print(total,end=" ")

In [6]:
sum(1,2,3,4,5,6)

1 3 6 10 15 21

In [31]:
encode= [
    '18-5-3-1-4',     
    '2-5-20-12-5',   
    '15-14-5-7-5-1', 
    '23-8-1-20',     
    '1-3-20-9-15-14',
    '18-5-1-12-12-25',
    '20-8-5',        
    '13-5-19-19-1-7-5',
    '3-8-1-12-12-5-14-7-5',
]
l_to_n={"a":1,"b":2,"c":3,"d":4,"e":5,"f":6,"g":7,"h":8,"i":9,"j":10,"k":11,"l":12,"m":13,"n":14,"o":15,"p":16,"q":17,"r":18,"s":19,"t":20,"u":21,"v":22,"w":23,"x":24,"y":25,"z":26}
def let_numb(encode):
    for i,j in l_to_n.items():
        if encode==j:
            return i

In [62]:
list1=[]
for i in encode:    
    h=i.split("-")
    
    #print(h)
    for t in h:
        j=let_numb(int(t))
        print(j,end="")
        
        
    print()

recad
betle
onegea
what
action
really
the
message
challenge

In [7]:
students = ['Alice', 'Bob', 'Charlie', 'David', 'Eva']
grades = {
    'Alice': [90, 85, 92, 88],
    'Bob': [78, 95, 80, 70],
    'Charlie': [82, 60, 75, 88],
    'David': [65, 70, 68, 75],
    'Eva': [88, 92, 45, 90]
} 
sub=["Math", "Science", "English", "History"]

In [8]:
def average_grade(grades):
    for i, j in grades.items():
        total=sum(j)
        avg=total/len(j)
            
        print(f"{i}: {avg}")
average_grade(grades)

Alice: 88.75
Bob: 80.75
Charlie: 76.25
David: 69.5
Eva: 78.75

In [9]:
def highest_grade_subject(g_list):
    max_index = g_list.index(max(g_list))
    return sub[max_index]

for students, g_list in grades.items():
    subject = highest_grade_subject(g_list)
    print(f"{students}'s highest grade is in {subject}")

Alice's highest grade is in English
Bob's highest grade is in Science
Charlie's highest grade is in History
David's highest grade is in History
Eva's highest grade is in Science

In [14]:
def passed_std(grades):
    passing = []
    for student, g_list in grades.items():
        if all(grade >= 50 for grade in g_list):
            passing.append(student)
    return passing
print(passed_std(grades))

['Alice', 'Bob', 'Charlie', 'David']

In [17]:
def overall_performance(grades):
    highest_avg = -1
    top_student = ""

    for student, g_list in grades.items():
        avg = sum(g_list) / len(g_list)
        if avg > highest_avg:
            highest_avg = avg
            top_student = student

    return top_student
print(overall_performance(grades))

Alice

In [ ]:
h=grades.values()
hv=[]
for i in h:
    #print(max(i))
    hv.append(max(i))
hv=str(hv)
h=str(h)
for i in hv:
    for j in h:
       print(j,end=" ")
       print(j.index(i))

d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] ) d i c t _ v a l u e s ( [ [ 9 0 ,   8 5 ,   9 2 ,   8 8 ,   9 2 ,   9 2 ] ,   [ 7 8 ,   9 5 ,   8 0 ,   7 0 ,   9 5 ,   9 5 ] ,   [ 8 2 ,   6 0 ,   7 5 ,   8 8 ,   8 8 ,   8 8 ] ,   [ 6 5 ,   7 0 ,   6 8 ,   7 5 ,   7 5 ,   7 5 ] ,   [ 8 8 ,   9 2 ,   4 5 ,   9 0 ,   9 2 ,   9 2 ] ] )

In [69]:
h

dict_values([[90, 85, 92, 88, 92, 92], [78, 95, 80, 70, 95, 95], [82, 60, 75, 88, 88, 88], [65, 70, 68, 75, 75, 75], [88, 92, 45, 90, 92, 92]])

In [64]:
hv

'[92, 95, 88, 75, 92]'

In [1]:
res=lambda a,b,c : a+b+c
res(1,2,3)

6

In [2]:
even=lambda n : "even" if n%2==0 else "odd"
even(5)

'odd'

In [4]:
num=[1,2,3,4,5,6,7,34,55,65,224,456,576]
even_num=list(filter(lambda x:x%2==0,num))
even_num

[2, 4, 6, 34, 224, 456, 576]

In [7]:
def even(n):
    if n%2==0:
        return n
ev_n=list(filter(even,num))
ev_n

[2, 4, 6, 34, 224, 456, 576]

In [10]:
def square(n):
    return n**2
num=[1,2,3,4,5,6,7,34,55,65,224,456,576]
even_num=list(map(square,num))
even_num

[1, 4, 9, 16, 25, 36, 49, 1156, 3025, 4225, 50176, 207936, 331776]

In [23]:
num=(3,4,5,6,7,8,9,10,11,12,13,14)
def prime(num):
    for i in range(2,num):
        if num % i==0:
            pass
            break
    else :
        return i
prime_numbers=list(filter(prime,num))
prime_numbers

[3, 5, 7, 11, 13]

In [ ]:
a=int(input("enter the value of a:"))
b=int(input ("enter the value of b:"))